@{
    ViewBag.Title = "Contact";
}

<h2 style="text-align:center;margin-bottom:50px; margin-top:25px;">Contact</h2>
<div class=" container">
    <div class="row">
        <div class="col-md-4">
            <h3 style="margin-top:25px;">Address</h3>
            <p>     İstanbul Kültür University Ataköy Campus <br /> E5 Highway over Bakırköy 34158 Istanbul</p>


        </div>
        <div class="col-md-4">
            <h3 style="margin-top:25px;">Phone Number</h3>
            <p style="font-size:medium;">(0212) 498 41 41</p>

        </div>
        <div class="col-md-4">
            <h3 style="margin-top:25px;">Email</h3>
            <p style="font-size:medium;">kultur@iku.edu.tr</p>
        </div>
    </div>
</div>