
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnauthorizedToAccess</title>
</head>
<body>
    <div>
        <h1>Unauthorized : 401 Error</h1>
        <p style="color:red">
            You have no right to access this resource.You are trying to access either without authentication or the requested page
            is not available for everyone.
        </p>
    </div>
</body>
</html>
